//@import "base";
@mixin for-lg-only {
  @media (min-width: 1000px) {
    @content;
  }
}
.content-left {
  order: 2;
  @include for-lg-only {
    float: left;
    order: 0;
    margin-right: 15px;
    max-width: 600px;
    width: 100%;
  }
}
.content-center {
  order: 2;
  @include for-lg-only {
    order: 0;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
}
.content-right {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 0;
  @include for-lg-only {
    //display: block;
    max-width: 295px;
    position: absolute;

    right: 0;
    margin-bottom: 30px;
    padding: 0;
    top: 90px;
    width: 100%;
    //flex: 1;
  }
}
.header-ad {
  order: 1;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 5px;
  height: 100px;
  width: 100%;
  background-color: aquamarine;
  @include for-lg-only {
    order: 2;
  }
}
.user--aside {
  order: 2;
  height: 100px;
  overflow: hidden;
  width: 100%;
  background-color: white;
  @include for-lg-only {
    order: 1;
  }
}

.board {
  display: flex;
  flex-direction: column;
  //background-color: gray;
  margin: 10px 0;
}
.board__row {
  display: flex;
  flex-direction: row;

  height: 70px;
  //margin: 1px 0;
  background-color: blue;

  span {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1;
    background-color: white;
    border: 2px solid #fafafa;
    color: #888;
    a {
      flex: 1;
      width: 100%;
      font-weight: 600;
    }
  }
}

.filter {
  display: inline-flex;
  margin-bottom: 10px;
}
.filter__text {
  // padding-left: 20px
  color: #888;
  padding-left: 10px;
}
.filter__radio {
  background-color: blue;
  height: 20px;
  width: 20%;
  margin-left: 10px;
}

.post-home {
  // padding: 0 1em
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  //height: 500px;
  background-color: #fafafa;

  // span {
  //   height: 90px;
  //   margin: 10px 0;
  //   background-color: white;
  //   text-align: center;
  //   a {
  //     //display: block;
  //   }
  // }
}

//  user--aside

.user--header {
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  div {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;

    a {
      h4 {
        margin: 0 10px;
      }
    }
  }
}

.default--user--img {
  width: 50px;
  height: 50px;
}
// .user--aside span {
//   height: 50px;
//   width: 100%;

//   span {
//     height: 100%;
//   }
// }
